body
{
    font-family:sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board
{
    margin: 30px auto;
    position: relative;
    background: #fff;
    overflow: hidden;
    width: 444px;
    height: 444px;
    border: 2px; solid #ddd;
}

.game-tile
{
    /*position: absolute;*/
    margin-left: 2px;
    margin-top: 2px;
    float: left;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background: #f6da17 url(img/title.png) center center no-repeat;
}

.game-tile:hover
{
    background-color: #F7C11A;
}

.game-score
{
    text-align: center;
}

.game-start
{
    padding: 15px;
    background: #F15C5C;
    color: #FFF;
    border: 0;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-size: 20px;
    margin: 30px auto;
}

.game-start:hover
{
    background-color: rgb(177, 51, 51);
}